<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/demo.css">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="/static/demo.js"></script>
		<script src="static/d3.min.js" charset="utf-8"></script>
		<script src="static/jquery-dateFormat.min.js" charset="utf-8"></script>
	</head>
	<body>
		<div id="sidebar">
			<h1>Controls</h1>
			<input id="defaults" type="button" value="Use Defaults" onclick="fill_defaults()">
			<p id="start_date_text">Start Date</p>
			<input class="date" id="start_date" type="text" placeholder="1-1-1990 to Today" onfocus="this.placeholder=''" onblur="this.placeholder='1-1-1990 to Today'">
			<div class="date_div" id="start_date_div">
				<div class="date_month" id="start_date_month">
					<span>Jan</span>
					<span>Feb</span>
					<span>Mar</span>
					<span>Apr</span>
					<span>May</span>
					<span>Jun</span>
					<span>Jul</span>
					<span>Aug</span>
					<span>Sep</span>
					<span>Oct</span>
					<span>Nov</span>
					<span>Dec</span>
				</div><!--
				--><div class="date_day" id="start_date_day">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
					<span>6</span>
					<span>7</span>
					<span>8</span>
					<span>9</span>
					<span>10</span>
					<span>11</span>
					<span>12</span>
					<span>13</span>
					<span>14</span>
					<span>15</span>
					<span>16</span>
					<span>17</span>
					<span>18</span>
					<span>19</span>
					<span>20</span>
					<span>21</span>
					<span>22</span>
					<span>23</span>
					<span>24</span>
					<span>25</span>
					<span>26</span>
					<span>27</span>
					<span>28</span>
					<span>29</span>
					<span>30</span>
					<span>31</span>
				</div><!--
				--><div class="date_year" id="start_date_year">
					<span>1990</span>
					<span>1991</span>
					<span>1992</span>
					<span>1993</span>
					<span>1994</span>
					<span>1995</span>
					<span>1996</span>
					<span>1997</span>
					<span>1998</span>
					<span>1999</span>
					<span>2000</span>
					<span>2001</span>
					<span>2002</span>
					<span>2003</span>
					<span>2004</span>
					<span>2005</span>
					<span>2006</span>
					<span>2007</span>
					<span>2008</span>
					<span>2009</span>
					<span>2010</span>
					<span>2011</span>
					<span>2012</span>
					<span>2013</span>
					<span>2014</span>
					<span>2015</span>
					<span>2016</span>
				</div>
			</div>
			<p>End Date</p>
			<input class="date" id="end_date" type="text" placeholder="1-1-1990 to Today" onfocus="this.placeholder=''" onblur="this.placeholder='1-1-1990 to Today'">
			<div class="date_div" id="end_date_div">
				<div class="date_month" id="end_date_month">
					<span>Jan</span>
					<span>Feb</span>
					<span>Mar</span>
					<span>Apr</span>
					<span>May</span>
					<span>Jun</span>
					<span>Jul</span>
					<span>Aug</span>
					<span>Sep</span>
					<span>Oct</span>
					<span>Nov</span>
					<span>Dec</span>
				</div><!--
				--><div class="date_day" id="end_date_day">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
					<span>6</span>
					<span>7</span>
					<span>8</span>
					<span>9</span>
					<span>10</span>
					<span>11</span>
					<span>12</span>
					<span>13</span>
					<span>14</span>
					<span>15</span>
					<span>16</span>
					<span>17</span>
					<span>18</span>
					<span>19</span>
					<span>20</span>
					<span>21</span>
					<span>22</span>
					<span>23</span>
					<span>24</span>
					<span>25</span>
					<span>26</span>
					<span>27</span>
					<span>28</span>
					<span>29</span>
					<span>30</span>
					<span>31</span>
				</div><!--
				--><div class="date_year" id="end_date_year">
					<span>1990</span>
					<span>1991</span>
					<span>1992</span>
					<span>1993</span>
					<span>1994</span>
					<span>1995</span>
					<span>1996</span>
					<span>1997</span>
					<span>1998</span>
					<span>1999</span>
					<span>2000</span>
					<span>2001</span>
					<span>2002</span>
					<span>2003</span>
					<span>2004</span>
					<span>2005</span>
					<span>2006</span>
					<span>2007</span>
					<span>2008</span>
					<span>2009</span>
					<span>2010</span>
					<span>2011</span>
					<span>2012</span>
					<span>2013</span>
					<span>2014</span>
					<span>2015</span>
					<span>2016</span>
				</div>
			</div>
			<p>Train Until</p>
			<input class="date" id="train_date" type="text" placeholder="Any date between" onfocus="this.placeholder=''" onblur="this.placeholder='Any date between'">
			<div class="date_div" id="train_date_div">
				<div class="date_month" id="train_date_month">
					<span>Jan</span>
					<span>Feb</span>
					<span>Mar</span>
					<span>Apr</span>
					<span>May</span>
					<span>Jun</span>
					<span>Jul</span>
					<span>Aug</span>
					<span>Sep</span>
					<span>Oct</span>
					<span>Nov</span>
					<span>Dec</span>
				</div><!--
				--><div class="date_day" id="train_date_day">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
					<span>6</span>
					<span>7</span>
					<span>8</span>
					<span>9</span>
					<span>10</span>
					<span>11</span>
					<span>12</span>
					<span>13</span>
					<span>14</span>
					<span>15</span>
					<span>16</span>
					<span>17</span>
					<span>18</span>
					<span>19</span>
					<span>20</span>
					<span>21</span>
					<span>22</span>
					<span>23</span>
					<span>24</span>
					<span>25</span>
					<span>26</span>
					<span>27</span>
					<span>28</span>
					<span>29</span>
					<span>30</span>
					<span>31</span>
				</div><!--
				--><div class="date_year" id="train_date_year">
					<span>1990</span>
					<span>1991</span>
					<span>1992</span>
					<span>1993</span>
					<span>1994</span>
					<span>1995</span>
					<span>1996</span>
					<span>1997</span>
					<span>1998</span>
					<span>1999</span>
					<span>2000</span>
					<span>2001</span>
					<span>2002</span>
					<span>2003</span>
					<span>2004</span>
					<span>2005</span>
					<span>2006</span>
					<span>2007</span>
					<span>2008</span>
					<span>2009</span>
					<span>2010</span>
					<span>2011</span>
					<span>2012</span>
					<span>2013</span>
					<span>2014</span>
					<span>2015</span>
					<span>2016</span>
				</div>
			</div>
			<p id="algorithms">Algorithms</p>
			<ul>
				<li class="algorithm" value="0">Actual Performance</li>
				<li class="algorithm" value="1">Slope Analysis</li>
				<li class="algorithm disabled" value="2">Peak / Trough Analysis</li>
				<li class="algorithm disabled" value="3">Moving Average</li>
			</ul>
			<p id="options">Options</p>
			<ul>
				<li class="options extrema-options" id="abs-extrema" value="0">Absolute Extrema</li>
				<ul id="abs-options">
					<li value="0">Actual Performance</li>
					<li value="1">Slope Analysis</li>
					<li value="2" class="disabled">Peak / Trough Analysis</li>
					<li value="3" class="disabled">Moving Average</li>
				</ul>
				<li class="options extrema-options" id="loc-extrema" value="1">Local Extrema</li>
				<ul id="loc-options">
					<li value="0">Actual Performance</li>
					<li value="1">Slope Analysis</li>
					<li value="2" class="disabled">Peak / Trough Analysis</li>
					<li value="3" class="disabled">Moving Average</li>
				</ul>
			</ul>
			<input id="generate" type="submit" value="Generate" onClick="draw_line_graph()">
		</div><!--
		--><div id="display">
		</div>
		<!-- Visualization tooltip -->
		<div id="tooltip" class="hidden">
			<p><strong id="tooltip-date"></strong></p>
			<div class="tooltip-algorithm">
				<p id="tooltip-algorithm-name"></p>
				<p id="tooltip-price"></p>
			</div>
		</div>
	</body>
</html>
